#about-container
  %h3#banner
    \{
    %span#page-title :about
    \=>
    %span#dan-is 'me'
    \}
  %p#about-me
    Hi! Welcome to my site. I'm currently a Consulting Developer at #{altru_link}. Previously, I worked as a Software Engineer at #{casper_link} where I focused on improving the logistics surrounding the fulfillment of orders. Prior to that I worked at #{handy_link}, a two sided marketplace that connects customers with providers of home services. I've also worked at a number of other New York tech startups including #{publicstuff_link}, a civic engagement tool that helps cities solve issues in their community, and #{chloe_link}, a Jewelry/Tech company in TriBeCa. I'm a self-taught programmer, and do a lot of development on the side. I like to think of myself as a curious person, who's always doing whatever it takes to learn and become a better coder.
    %br
    %br
    I attended #{oberlin_link} and graduated in 2008 with a Bachelors in Economics. After dabbling in finance for a couple of years, I figured out that all I really want to do is work with computers. Aside from programming, other things I'm into include: biking, skiing, playing basketball or soccer, fantasy sports, graphic novels, and video games. If you ever want to talk about programming, or would like to collaborate on a project, please feel free to reach out!
