%h2 New Post
= form_for @post do |f|
  .form-group
    = f.label 'Title'
    = f.text_field 'title', :class => 'form-control'
  .form-group
    = f.label 'Content'
    = f.text_area 'content', :class => 'form-control'
  .form-group
    = f.submit 'Submit', :class => 'btn btn-primary'
